<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.phonegap.example"
    version         = "1.0.0">

<name>MyFirstApp</name>

<description>
    DESCRIPTION
</description>

<author href="YOUR URL" email="YOUR EMAIL">
    Rakitzopoulou Stella
</author>

<access origin="*"/>

<content src="index.html" />

  <preference name="phonegap-version" value="3.1.0" />
  <preference name="orientation" value="default" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="false" />
  <preference name="prerendered-icon" value="false" />
  <preference name="detect-data-types" value="false" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="auto-hide-splash-screen" value="true" />
  <preference name="disable-cursor" value="true" />
  <preference name="android-minSdkVersion" value="8" />
  <preference name="android-installLocation" value="preferExternal" />
  <preference name="splash-screen-duration" value="3000" />
  <preference name="load-url-timeout" value="45000" />
  <preference name="backgroundColor" value="0xFFF" />
  <preference name="loadUrlTimeoutValue" value="20000" />
  <preference name="InAppBrowserStorageEnabled" value="true" />
  <preference name="disallowOverscroll" value="true" />
  <preference name="SplashScreen" value="splash" />
  <preference name="SplashScreenDelay" value="8000" />


    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="http://api.phonegap.com/1.0/battery"/>
    
    
   


<gap:plugin name="com.surfernetwork.startapp" version="1.0.0" />
<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
<gap:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
<gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.0.0" />
<gap:plugin name="org.apache.cordova.console" version="0.2.11" />
<gap:plugin name="org.apache.cordova.contacts" version="0.2.13" />
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
<gap:plugin name="org.apache.cordova.battery-status" version="0.2.11" />
<gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
<gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />
<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
<gap:plugin name="org.apache.cordova.globalization" version="0.3.1" />
<gap:plugin name="org.apache.cordova.media" version="0.2.13" />
<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
<gap:plugin name="gr.eworx.mediadefaultstoragepath" version="0.0.1" />
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />


<!-- Splash Screen -->
<gap:splash src="splash.png" />
<platform name="android">
    <splash src="res/screen/android/hdpi.png" density="hdpi"/>
    <splash src="res/screen/android/ldpi.png" density="ldpi"/>
    <splash src="res/screen/android/mdpi.png" density="mdpi"/>
    <splash src="res/screen/android/xhdpi.png" density="xhdpi"/>
  </platform>


<gap:config-file platform="android" parent="/manifest">
        <uses-permission name="android.permission.ACCESS_NETWORK_STATE" />
    </gap:config-file>

    <gap:config-file platform="android" parent="/manifest">
        <uses-permission name="android.permission.INTERNET" />
    </gap:config-file>

    <gap:config-file platform="android" parent="/manifest">
        <uses-permission name="android.permission.READ_PHONE_STATE" />
    </gap:config-file>


</widget>